body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 400px;
}

table, td, th {
    border: 1px solid white;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

th {
    height: 30px;
}

td {
    /* text-align: center; */
    padding: 7px;
    
}

h1{
    text-align: center;
}

.form {
    margin: 20px;
}

#content {
    width: 100%;
}